.cards {
  padding: 2rem;
}
.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1rem;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

.card {
  /* width: 200px;
  height: 20vh; */
  min-height: 275px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 15px 10px;
  text-align: center;
  position: relative;
}

.card > figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card img {
  opacity: 0.8;
  width: 75%;
  min-height: 150px;
}

.card > figcaption > h3 {
  color: black;
}

.card > figcaption > p {
  color: gray;
}

.card:hover {
  transform: skewX(5deg);
  transition: 0.3s;
  opacity: 1;
}
