.cards {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card {
  width: 200px;
  height: 20vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px 10px;
  text-align: center;
  position: relative;
}

.card img {
  opacity: 0.8;
  width: 75%;
}

.card:hover {
  transform: skewX(5deg);
  transition: 0.3s;
  opacity: 1.0;
}

.card-info {
  padding-left: 10px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10px;
}

.card-info h3 {
  color: black;
}

.card-info p {
  color: gray;
}

