.footer {
  background: black;
  text-align: center;
  padding: 20px 0;
  color: white;
}

.list-inline {
  list-style: none;
}

li {
  display: inline;
  margin: 20px 5px;
}

.footer a {
  display: inline-block;
  color: white;
}

.footer a:hover {
  transform:scale(1.5,1.5);
  color: gray;
  transition: 0.3s;
}
