.footer {
  background: black;
  text-align: center;
  padding: 20px 0;
  color: white;
}

.footer > ul > .social {
  list-style: none;
  padding: 0 !important;
}

li {
  display: inline;
  margin: 20px 5px;
}

.footer a {
  display: inline-block;
  color: white;
}

.footer a:hover {
  transform: scale(1.5, 1.5);
  color: gray;
  transition: 0.3s;
}
